<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/pizzaStyle.css">
    <meta charset="UTF-8">
    <title>Pizza</title>
</head>
<body>

<h1>Pizza shop</h1>


<div style="float: left;margin-right:60px">
    <table>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
        </tr>

        <tr th:each="pizza : ${Menu}">
            <th scope="row"><img th:src="${pizza.getImgUrl}" width="100" height="100"/></th>
            <td th:text="${pizza.getName}"></td>
            <td th:text="${pizza.getDescription}"></td>
            <td th:text="${pizza.getPrice}"></td>
            <td>
            <--- "Method 'POST' is not supported." WHYYYYY --->
                <form action="/pizza" method="post">
                    <input type="number" step="1" hidden th:value="${pizza.getPizzaId}"></input>
                    <button type="submit">Add</button>
                </form>
            </td>
        </tr>
    </table>
</div>


<div>
    <h2>Chosen Pizzas</h2>
    <div style="float: left;margin-right:60px">
        <div>
            <ul>
                <li th:each="pizza : ${chosenPizzas}">
                    <span th:text="You have selected ${pizza.pizza.getName()}"
                          placeholder="Pizzas are added here"></span>
                </li>
            </ul>
        </div>
    </div>
</div>


<section>


</section>


</body>
</html>